modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SFWeb Dev Server"

[[workflows.workflow]]
name = "SFWeb Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34867
externalPort = 3000

[[ports]]
localPort = 40149
externalPort = 3003

[[ports]]
localPort = 41465
externalPort = 3001

[[ports]]
localPort = 45607
externalPort = 3002

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
